/* body {
    background-color: black;
} */

.hero-container {
    /* width: 100%; */
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* Set the flex-direction to column */
    margin-left: 15%;
}

.hero-container-papa {
    background-image: url(../images/hero.jpg);
    background-size: cover;
}

/* .type-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */


h1 {
    color: white;
    font-size: 90px;
}

h3 {
    color: aliceblue;
}

span {
    color: #86A1FF;
}

.card {
    background-color: #3d3e42;
}

#html:hover {
    background-color: #F16529;
}

#css:hover {
    background-color: #33A9DC;
}

#js:hover {
    background-color: #F0E68C;
}

#rjs:hover {
    background-color: #0489ae;
}

#py:hover {
    background-color: #001F3F;
}

#flask:hover {
    background-color: #43ADC1;
}

#tf:hover {
    background-color: #ffa866;
}

#cpp:hover {
    background-color: #A93257;
}

#flutter:hover {
    background-color: #87CEEB;
}

.cust-sty-head {
    color: aliceblue;
    text-align: center;
}

#scroll-dots {
    position: fixed;
    top: 55%;
    left: 100px;
    transform: translateY(-50%);
    z-index: 1000;
}

#scroll-dots .dot {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 0 50% 50% 50%;
    transform: rotate(45deg);
    margin-bottom: 40px;
    cursor: pointer;
    opacity: 0.5;
    position: relative;
    transition: transform 0.3s, opacity 0.3s;
}

#scroll-dots .hover-dot {
    opacity: 1;
    background-color: #0885D7;
    transform: scale(1.5);
}

#scroll-dots .active-dot {
    opacity: 1;
    background-color: red;
    transform: scale(1.5);
}

#scroll-dots .dota:hover::after {
    content: attr(data-text);
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4px;
    border-radius: 4px;
    font-size: 10px;
    display: block;
}